{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "process": true
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-console": "off"
  }
}
